---
import "../styles/global.css";
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";

export type PageProps = {
	title: string;
	description: string;
	keywords: string[];
	author: string;
	image: string;
	ogImage?: string;
	ogTitle?: string;
};

const props = Astro.props as PageProps;

const containerClass = `
min-h-screen bg-white dark:bg-gray-800 
text-gray-900 dark:text-gray-100
`;

const defaultMeta: PageProps = {
	title: "Jun's Blog - Blackhodl Universe",
	description: "This is my blog about my journey learning Astro.",
	keywords: ["Software", "AI", "Web3", "Blockchain", "Fintech"],
	author: "Jun",
	image: "https://blackhodl.xyz/favicon.svg",
	ogImage: "https://blackhodl.xyz/favicon.svg",
	ogTitle: "Jun's Blog - Blackhodl Universe",
};

const meta = {
	...defaultMeta,
	...props,
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{meta.title}</title>
		<meta name="description" content={meta.description} />
		<meta name="keywords" content={meta.keywords.join(", ")} />
		<meta name="author" content={meta.author} />
		<meta property="og:image" content={meta.image} />
		<meta property="og:title" content={meta.ogTitle} />
		<meta property="og:description" content={meta.description} />
	</head>
	<body class={containerClass}>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
