---
import "../styles/global.css";
import { useTranslations } from "../utils/i18n";
import Footer from "./Layout/Footer.astro";
import Navbar from "./Layout/Navbar.astro";

export type PageProps = {
	title: string;
	description: string;
	keywords: string[];
	author: string;
	image: string;
	ogImage?: string;
	ogTitle?: string;
};

const lang = (Astro.currentLocale || "en") as "en" | "zh";
const t = useTranslations(lang);

const props = Astro.props as PageProps;

const containerClass = `
min-h-screen bg-white dark:bg-gray-800 
text-gray-900 dark:text-gray-100
grid grid-rows-[max-content_auto_max-content] gap-6
max-w-xl mx-auto
`;

const defaultMeta: PageProps = {
	title: t("site.title"),
	description: t("site.description"),
	keywords: ["Software", "AI", "Web3", "Blockchain", "Fintech"],
	author: "Jun",
	image: "https://blackhodl.xyz/favicon.svg",
	ogImage: "https://blackhodl.xyz/favicon.svg",
	ogTitle: t("site.ogTitle"),
};

const meta = {
	...defaultMeta,
	...props,
};
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{meta.title}</title>
		<meta name="description" content={meta.description} />
		<meta name="keywords" content={meta.keywords.join(", ")} />
		<meta name="author" content={meta.author} />
		<meta property="og:image" content={meta.image} />
		<meta property="og:title" content={meta.ogTitle} />
		<meta property="og:description" content={meta.description} />
	</head>
	<body class={containerClass}>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
